.secretIcon {
	
	height: 20px;
	
}

.uploadResult ul li span {
	color: white;
}

#uploadResult .uploadLi {
	
	margin: 0 0 0 10px;
  padding: 0 0 0 0;
  border : 0;
  text-align: center;
  display: inline-block;
	
}

.btn-close {
	
	margin-top: 5px;
	
}

	.uploadResult ul li span {
		color: white;
	}
	
	.getPageForm span {
	
	text-align: center;
	display: inline-block;
	
	}
