
li {
	list-style: none;
}

.replyLiTag {
	
	margin: 0;
	
}

.replyDiv {
	
	padding: 10px;
	
}

.btnDiv {
	
	margin-top: 10px;
}

.adopted {

	border: 10px solid greenyellow;
	box-shadow: 5px 5px 5px yellow;

}

.secretIcon {
	
	height: 20px;
	
}
